input {
  outline: 0;
}
.container {
  width: 80%;
  margin: auto;
  border: 1px solid #eee;
  padding: 40px;
}
.header{
  width: 100%;
  padding: 10px;
  border: 0;
  border-bottom: 1px solid #eee;
  margin-bottom: 30px;
}
.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
